In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [ ]:
encounters=pd.read_csv('/content/drive/MyDrive/datasets/encounters.csv')
condition=pd.read_csv('/content/drive/MyDrive/datasets/conditions.csv')

In [ ]:
print('The Shape for encounters table:',encounters.shape)
print('The Shape for condition table:',condition.shape)

The Shape for encounters table: (1414254, 14)
The Shape for condition table: (256007, 6)

In [ ]:
print('The Columns name for encounters:',encounters.columns)
print('The Columns name for condition:',condition.columns)

The Columns name for encounters: Index(['Id', 'START', 'STOP', 'PATIENT', 'PROVIDER', 'PAYER', 'ENCOUNTERCLASS',
       'CODE', 'DESCRIPTION', 'BASE_ENCOUNTER_COST', 'TOTAL_CLAIM_COST',
       'PAYER_COVERAGE', 'REASONCODE', 'REASONDESCRIPTION'],
      dtype='object')
The Columns name for condition: Index(['START', 'STOP', 'PATIENT', 'ENCOUNTER', 'CODE', 'DESCRIPTION'], dtype='object')

In [ ]:
final_col=pd.merge(encounters,condition,how='outer')
final_col1=final_col[['PATIENT','ENCOUNTERCLASS','DESCRIPTION','BASE_ENCOUNTER_COST','TOTAL_CLAIM_COST',
                      'PAYER_COVERAGE','REASONDESCRIPTION','ENCOUNTER']]

In [ ]:
final_col1.head(n=2)

                                PATIENT  ... ENCOUNTER
0  2d0a9468-9cc7-47c6-a757-2944fb7a754d  ...       NaN
1  600960a6-6ed0-4bc3-8476-1143c592ea66  ...       NaN

[2 rows x 8 columns]

In [ ]:
final_col1[['ENCOUNTER','DESCRIPTION']].groupby('DESCRIPTION').count().sort_values('ENCOUNTER',ascending=False)

                                         ENCOUNTER
DESCRIPTION
Viral sinusitis (disorder)                   53010
Acute viral pharyngitis (disorder)           31589
Normal pregnancy                             26680
Acute bronchitis (disorder)                  26230
Otitis media                                 14697
...                                            ...
Emergency hospital admission for asthma          0
Emergency room admission (procedure)             0
Outpatient procedure                             0
Encounter Inpatient                              0
posttraumatic stress disorder                    0

[207 rows x 1 columns]

.1.   Viral sinusitis (disorder),Acute viral pharyngitis (disorder) are the two most commonly diagnosed disease between the patient.  

---
The main cause for Viral sinusitis is bacteria,fungi,intranasal allergies,deviated nasal septum.
an inherited genetic disease where thick, sticky mucus builds up in the body.


---

The main cause for Viral pharyngitis is common cold and flu



---
This symptoms had been seen on every 8th person out of 10th which is the common cause for a patient to encounter with hospitals and Doctors

In [ ]:
final_col1[['DESCRIPTION','PATIENT']].groupby('DESCRIPTION').count().sort_values('PATIENT',ascending=False)

                                                    PATIENT
DESCRIPTION
Well child visit (procedure)                         281887
General examination of patient (procedure)           219550
Encounter for symptom                                152777
Prenatal visit                                       149765
Encounter for problem (procedure)                     68601
...                                                     ...
History of upper limb amputation (situation)              1
History of amputation of foot (situation)                 1
Proteinuria due to type 2 diabetes mellitus (di...        1
Chronic kidney disease stage 3 (disorder)                 1
Infection caused by Pseudomonas aeruginosa                1

[207 rows x 1 columns]

Cases such as Well child visit ,General examination of patient ,Encounter for symptom,Prenatal visit are the most frequent reason to visit to the hospital

---


---

In [ ]:
final_col1[['ENCOUNTER','PATIENT']].groupby('PATIENT').count().sort_values('ENCOUNTER',ascending=False)

                                      ENCOUNTER
PATIENT
14f8e2fb-6ebf-4c24-b4e1-7b7ff0f66ec7         86
7295a209-6637-42db-acaa-6c2a4828747b         78
ac5be738-dc1a-4905-b71c-ccc9798e47c0         77
f07b8c6c-d21c-4883-aeea-315fb36029a8         77
f221f4d2-02d6-474f-a02d-aec6eea18867         77
...                                         ...
0968c1be-5a5a-480c-84e5-3ea33c40aa0b          0
8b3a45ce-0eb3-471d-b922-181d0d149805          0
0f6253f4-b55b-4625-9942-6fe14b6a2e4b          0
b03d7d7b-66e6-4781-a21d-771c1bce0bac          0
0e04a17e-29a6-4bc2-95c0-6784e5fa4734          0

[11628 rows x 1 columns]

1.   Patient have at the maximum around 86 occurences of condition diagnosed.
2.   There are around 156 conditions in total that have been diagnosed amongst patient

**Through EDA process we could figure out certain insights between condition and encounter table which give us rough idea about the patient and the symptoms for which they are been encountered**